
<form method="get" action="/quizes/answer">    	
  <p>Pregunta: <%= pregunta%></p>
  <input name="respuesta" type="text" placeholder="Reponda aquí..."f">
  <input type="submit" value="Enviar" >
</form>